{% extends "base.html" %}
{% block maincontent %}
<div class="row">
  <div class="col-md-6">
<form action="/project/{{ ctx.Project.Id }}/score" method="post">
  <div class="form-group">
    <label for="group_choice">选择小组</label>
    <select class="form-control" name="group_id" id="group_choice">
      {% for group in ctx.Project.GetGroups() %}
        <option value={{ group.Id }}>{{ group.GetDescription() }}</option>
      {% endfor %}
    </select>
  </div>
  {% for config in ctx.Task.GetScoreConfig() %}
    <div class="form-group">
    <label for="score_{{ config.Type }}">{{ config.Desc }} 评分 占比 {{ config.ScoreWeight }} %</label>
    <input class="form-control" id="score_{{ config.Type }}" type="number" name="score">
    </div>
  {% endfor %}
  <div class="form-group">
    <button class="btn btn-default" type="submit">提交</button>
  </div>
</form>
  </div>
  <div class="col-md-6">
  <table class="table">
    <thead>
      <tr>
        <th>小组名</th>
        <th>阶段描述</th>
        <th>分数</th>
      </tr>
    </thead>
    <tbody>
      {% for scoreResponse in ctx.User.GetJudegGroupScores(ctx.Project) %}
        <tr>
          <td>{{ scoreResponse.Group.GetDescription() }}</td>
          <td>
            <table class="table">
            {% for score in scoreResponse.Scores %}
              <tr>
                <td>{{ score.Desc }}</td>
              </tr>
            {% endfor %}
            </table>
          </td>
          <td>
            <table class="table">
            {% for score in scoreResponse.Scores %}
              <tr>
                <td>{{ score.Score }}</td>
              </tr>
            {% endfor %}
            </table>
          </td>

        </tr>

      {% endfor %}
    </tbody>
  </table>
  </div>
</div>



{% endblock %}

{% block script %}
<script>
(function($){
  $("#nav_project_{{ctx.Project.Id}}_score").addClass("active")
})(jQuery);
</script>

{% endblock %}
